@font-face {
  font-family: "iconfont"; /* Project id 4244035 */
  src: url('iconfont.woff2?t=1694267266493') format('woff2'),
       url('iconfont.woff?t=1694267266493') format('woff'),
       url('iconfont.ttf?t=1694267266493') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e7f4";
}

.icon-user:before {
  content: "\e7af";
}

.icon-calendar:before {
  content: "\e7d3";
}

.icon-bulb:before {
  content: "\e7c4";
}

.icon-down-circle:before {
  content: "\e77f";
}

.icon-search:before {
  content: "\e8ef";
}

.icon-smile:before {
  content: "\e783";
}

.icon-project:before {
  content: "\e798";
}

.icon-team:before {
  content: "\e7ae";
}

.icon-safetycertificate:before {
  content: "\e7c0";
}

.icon-experiment:before {
  content: "\e7c3";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-code:before {
  content: "\e7fc";
}

