/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
.home .hero img
  max-width 450px!important

@font-face {
  font-family: "HarmonyOS_Sans";
  src: url('/fonts/HarmonyOS_Sans/HarmonyOS_Sans_Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "HarmonyOS_Sans";
  src: url('/fonts/HarmonyOS_Sans_Italic/HarmonyOS_Sans_Black_Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "HarmonyOS_Sans";
  src: url('/fonts/HarmonyOS_Sans/HarmonyOS_Sans_Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "HarmonyOS_Sans";
  src: url('/fonts/HarmonyOS_Sans_Italic/HarmonyOS_Sans_Bold_Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "HarmonyOS_Sans";
  src: url('/fonts/HarmonyOS_Sans/HarmonyOS_Sans_Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HarmonyOS_Sans";
  src: url('/fonts/HarmonyOS_Sans_Italic/HarmonyOS_Sans_Medium_Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "HarmonyOS_Sans";
  src: url('/fonts/HarmonyOS_Sans/HarmonyOS_Sans_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HarmonyOS_Sans";
  src: url('/fonts/HarmonyOS_Sans_Italic/HarmonyOS_Sans_Regular_Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "HarmonyOS_Sans";
  src: url('/fonts/HarmonyOS_Sans/HarmonyOS_Sans_Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "HarmonyOS_Sans";
  src: url('/fonts/HarmonyOS_Sans_Italic/HarmonyOS_Sans_Light_Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "HarmonyOS_Sans";
  src: url('/fonts/HarmonyOS_Sans/HarmonyOS_Sans_Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "HarmonyOS_Sans";
  src: url('/fonts/HarmonyOS_Sans_Italic/HarmonyOS_Sans_Thin_Italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Quicksand";
  src: url('/fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: "Handjet";
  src: url('/fonts/Handjet/Handjet-VariableFont_ELGR,ELSH,wght.ttf') format('truetype');
}
