/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #e37654
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$tableBgColor = #b5a79e

$contentWidth = 980px
$MQWide = 1440px
$navbarHeight=5rem